[Unit]
Description=Prometheus Node Exporter
After=network.target

[Service]
Type=simple
Restart=always
User={{ exporter_user }}
Group={{ exporter_group }}
ExecStart=/usr/bin/node_exporter

[Install]
WantedBy=multi-user.target
